# Build output
x64/
Xbox/
Debug/
Release/
AppPackages/
*.appx
*.appxsym
*.pfx
*.pdb
*.ilk
*.obj
*.lib
*.exe
*.dll
*.idb
*.tlog
*.log
*.lastbuildstate
*.unsuccessfulbuild
*.cache
*.suo
*.user
*.opensdf
*.sdf
*.ipch
*.VC.db
*.VC.opendb
.vs/
__pycache__/
*.pyc
